body{
    padding-bottom: 700px; 
    
    
}

div{
    margin-bottom: 15px;
}

div input, div label{
    display: block;
}

/* input radio */
.radio label, .radio input{
    display: inline-block;
}

